#root {
  background-color: #fafafa;
}

table {
  width: 100%;
  text-align: start;
}
td {
  border-top: 2px solid #edf2f7;
  padding: 12px 0;
}
th {
  padding-bottom: 12px;
}
.Aisle {
  width: 35%;
}
.Troop {
  width: 25%;
}
.lastorder {
  width: 100%;
  max-width: 806px;
}
.topplatform {
  width: 100%;
  max-width: 488px;
}
.salestrend {
  width: 100%;
  max-width: 700px;
}
.userdata {
  width: 100%;
}
